/* ============================= Basics */

body {
  background-color: #e9f1f7;
  --borderColor: #b8cecd;
  --darkBorderColor: #325b82;
}

.appName{
  color: var(--darkBorderColor);
    margin-top: 20%;
    font-size: 350%;
}

button{
  cursor: pointer;
}
select{
  cursor:pointer;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--borderColor);
}

.App {
  text-align: center;
  --mainTextColor: black;
  --secondTextColor:white;
}

.titleActions{
  font-size: 130%;
  letter-spacing: 10px;
  color: var(--darkBorderColor)
}
a{
  text-decoration: none;
  color: var(--mainTextColor);
  font-size: 150%;
  cursor: pointer;
}

a:hover{
  color: var(--borderColor);
}

input{
  background: inherit;
  border: none;
  border-bottom: 2px solid var(--borderColor);
}

.App-navbar{
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color:black;
  position:sticky;
  top:0;
  border-bottom: 5px solid var(--borderColor);
  z-index: 10;
}
.oneClientInformationRow{
  justify-items: center;
  align-content: center;
}



.showMoreButton{
background-color: inherit;
border:3px solid var(--borderColor) ;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
padding: 5px;
font: inherit;
font-size: 80%;
cursor:pointer;
margin: 5px;
}
.showMoreButton:hover{
  background-color: var(--darkBorderColor);
  color: white;
}

.modal{
  height:25%;
  width:25%;
  position:fixed;
  display:grid ;
  padding: 10px;
  top: 37%;
  left: 37%;
  background-color: var(--borderColor);
  border: 5px solid var(--darkBorderColor);
  border-radius: 10px;
  color: var(--secondTextColor);
  z-index: 10;
  align-content: left;
}
#closeModalButton{
  background: none;
  border: none;
  font-weight: bolder;
  color: var(--secondTextColor);
}

#closeModalButton:hover{
  color: var(--mainTextColor)
}
#clientsTable{
  margin: 5vmin;
}
.searchClient{
display: flex;
height:35px;

}
.clientsNameInput{
  margin-left: 20px;
}
.navigateClientsButtons{
position: relative;
margin-bottom: 10px;
z-index: 0;
}

table{
  width: 100%;
}

table, th, td {
  border-bottom: 2px solid var(--borderColor);
  border-collapse: collapse;
  text-align: left;
}

th{
  height: 4vh;
  background-color: var(--darkBorderColor);
  color: white;
  justify-items: center;
  align-content: center;
  position: sticky;
  top:7vh;
}
th, td {
  padding: 15px;
}
tr:hover{
  background-color:var(--borderColor);
  cursor:pointer;
}



/* ================= Actions ================== */

 .actionsDiv{
display: grid;
grid-template-rows: 1fr 1fr;
margin: 2vmin 10vmin 0 10vmin;
}

.actionUpdateDiv{
display: grid;
justify-items: left;
grid-template-rows: 1fr 2fr 6fr;
}
.actionAddDiv{
  display: grid;
  justify-items: left;
}

.actionsUpdateContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
justify-self: start;
width: 100%;
border-bottom: 3px solid var(--secondTextColor);
padding: 10px;
}

.allUpdateOptions{
  display: grid;
  width: 100%;
  border-bottom: 5px solid var(--secondTextColor);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 20px;
  gap: 10px;
}
.updateOptions{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: left;
}
.gridCol3{
  grid-column: 3;
}

.clientToUpdate{
  justify-self: start;
  font-size: 120%;
}
.middleColumn{
  justify-self: start;
}

.justifyStart{justify-self: start;}

.updateButton{
  background-color: var(--borderColor);
  color: var(--mainTextColor);
  width: 40%;
  justify-self: center;
  align-self: center;
  padding: 7px;
  border:none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.updateButton:hover{
  background-color: var(--darkBorderColor);
  color: var(--secondTextColor);
}
/* ====== Add new User ====== */

.newUserInfos{
  width: 100%;
display: grid;
gap: 10px;
padding: 10px;
}

/* ========= Analytics ============ */
/* Badges */
.badgesContainer{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;

}
.badgeIcon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: cornflowerblue;
  display: grid;
  align-content: center;
  justify-content: center;
}
.badgeDiv{
  margin:25px;
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.badgeValue{
  font-size: 150%;
  font-weight: bolder;
}
.badgeText{
  display: grid;
  align-items: center;
  justify-items: left;
}

/*  ====== Charts =========== */
.chartsContainer{
  display: grid;
  align-content: center;
  justify-content: center;
}

.chartContainer{
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 20px;
  border-top: 3px solid var(--borderColor);
}
