.App {
  text-align: center;
  --mainTextColor: black;
  --secondTextColor:white;
  background-color: lightgrey;
}

a{
  text-decoration: none;
  color: var(--secondTextColor)
}

.App-navbar{
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color:white;
  position:sticky;
}
.oneClientInformationRow{
  justify-items: center;
  align-content: center;
}

.clientsHeader{
  height: 5vh;
  background-color: yellow;
  justify-items: center;
  align-content: center;
}

.modal{
  padding: 10vmin;
  position:fixed;
  display:block ;
  left: 50%;
  top:50%;
  background-color: var(--mainTextColor);
  color: var(--secondTextColor);
  z-index: 10;
}

#clientsTable{
  margin: 5vmin;
}
table{
  width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.badgesContainer{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;
  
}